---
// import { Image, Picture } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";
// import post05Img from "@images/post-05.png";
---

<MainLayout title="Imágenes">
  <!-- <h1 class="text-5xl">Imágenes</h1>

  <img src="/assets/images/post-05.png" alt="Explorando Funciones de ES6" width="250" height="250" />

  <Image
    src={post05Img}
    style={{ width: "250px", height: "250px" }}
    alt="Explorando Funciones de ES6"
    quality="high"
    width="500"
    height="500"
  />

  style={{ width: "250px", height: "250px" }} -->
  <!-- widths={[240, 540, 720, post05Img.width]}
  sizes={"(max-width: 360px) 240px"} -->

  <!-- <Picture
    src={post05Img}
    alt="Explorando Funciones de ES6"
    quality="high"
    width="300"
    height="300"
  />  -->
</MainLayout>
